<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341521927870-q6b6gm3et29hm22vaimm0a35rtariou7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341521927870-q6b6gm3et29hm22vaimm0a35rtariou7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341521927870-2c3vffbkq8s346003ii0paghoi4agkl4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0t0lsj8wqA0cWXtJQ-PEvl4n4OzMXPDE</string>
	<key>GCM_SENDER_ID</key>
	<string>341521927870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotbud</string>
	<key>PROJECT_ID</key>
	<string>spotbud-b9d9e</string>
	<key>STORAGE_BUCKET</key>
	<string>spotbud-b9d9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341521927870:ios:b1b753acb9c9344e73d8ef</string>
</dict>
</plist>