<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYQRPOT0hyV1yEOdtcRNpGXI1aT95nBYE</string>
	<key>GCM_SENDER_ID</key>
	<string>14637271888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotbud</string>
	<key>PROJECT_ID</key>
	<string>spotbud-7d77c</string>
	<key>STORAGE_BUCKET</key>
	<string>spotbud-7d77c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14637271888:ios:492462afa980e090e6ba55</string>
</dict>
</plist>